.clear {
    clear: both;
}

.block {
    width: 25%;
    text-align: center;
    float:left;
    color: antiquewhite;
}

.number {
    font-size: 3em;
    color: antiquewhite;
}

.main {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.background {
    background-image: url("https://i.pinimg.com/originals/19/50/72/19507269956c4e1dbcf6bae0160da4d9.gif");
    margin: auto;
    height: 320px;
    width: 656px;
}

.finish {
    margin-top: 205px;
    color: antiquewhite;
    text-align: center;
}